### Импорт всего что нужно (ДЗ со строки 78)

In [17]:
import numpy as np

In [19]:
np.__version__

'2.1.1'

In [33]:
pip install matplotlib --upgrade

Requirement already satisfied: matplotlib in c:\users\vpshe\anaconda3\lib\site-packages (3.8.4)
Collecting matplotlib
  Downloading matplotlib-3.9.2-cp312-cp312-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\vpshe\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\vpshe\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\vpshe\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\vpshe\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.23 in c:\users\vpshe\anaconda3\lib\site-packages (from matplotlib) (2.1.1)
Requirement already satisfied: packaging>=20.0 in c:\users\vpshe\anaconda3\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\vpshe\anaconda3\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\vpshe\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\vpshe\anaconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Collecting numpy>=1.23 (from matplotlib)
  Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     ------------ ------------------------- 20.5/61.0 kB 330.3 kB/s eta 0:00:01
     ------------------------- ------------ 41.0/61.0 kB 393.8 kB/s eta 0:00:01
     -------------------------------------- 61.0/61.0 kB 466.1 kB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\vpshe\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.9.2-cp312-cp312-win_amd64.whl (7.8 MB)
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   ---------------------------------------- 0.1/7.8 MB ? eta -:--:--
    --------------------------------------- 0.1/7.8 MB 2.2 MB/s eta 0:00:04
   - -------------------------------------- 0.2/7.8 MB 2.3 MB/s eta 0:00:04
   -- ------------------------------------- 0.4/7.8 MB 3.1 MB/s eta 0:00:03
   --- ------------------------------------ 0.7/7.8 MB 3.2 MB/s eta 0:00:03
   --- ------------------------------------ 0.8/7.8 MB 3.2 MB/s eta 0:00:03
   ------ --------------------------------- 1.2/7.8 MB 4.1 MB/s eta 0:00:02
   ------ --------------------------------- 1.3/7.8 MB 3.9 MB/s eta 0:00:02
   -------- ------------------------------- 1.6/7.8 MB 4.3 MB/s eta 0:00:02
   --------- ------------------------------ 1.8/7.8 MB 4.1 MB/s eta 0:00:02
   ---------- ----------------------------- 2.1/7.8 MB 4.4 MB/s eta 0:00:02
   ------------ --------------------------- 2.4/7.8 MB 4.5 MB/s eta 0:00:02
   -------------- ------------------------- 2.8/7.8 MB 5.0 MB/s eta 0:00:01
   --------------- ------------------------ 3.1/7.8 MB 5.1 MB/s eta 0:00:01
   --------------- ------------------------ 3.1/7.8 MB 5.1 MB/s eta 0:00:01
   --------------- ------------------------ 3.1/7.8 MB 4.6 MB/s eta 0:00:02
   ----------------- ---------------------- 3.5/7.8 MB 4.6 MB/s eta 0:00:01
   -------------------- ------------------- 4.1/7.8 MB 5.1 MB/s eta 0:00:01
   ---------------------- ----------------- 4.4/7.8 MB 5.2 MB/s eta 0:00:01
   ----------------------- ---------------- 4.7/7.8 MB 5.2 MB/s eta 0:00:01
   -------------------------- ------------- 5.3/7.8 MB 5.6 MB/s eta 0:00:01
   ---------------------------- ----------- 5.5/7.8 MB 5.6 MB/s eta 0:00:01
   ----------------------------- ---------- 5.8/7.8 MB 5.7 MB/s eta 0:00:01
   ------------------------------- -------- 6.2/7.8 MB 5.8 MB/s eta 0:00:01
   ------------------------------- -------- 6.2/7.8 MB 5.8 MB/s eta 0:00:01
   ------------------------------- -------- 6.2/7.8 MB 5.8 MB/s eta 0:00:01
   ------------------------------------ --- 7.1/7.8 MB 5.9 MB/s eta 0:00:01
   ---------------------------------------  7.8/7.8 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------- 7.8/7.8 MB 6.0 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl (15.5 MB)
   ---------------------------------------- 0.0/15.5 MB ? eta -:--:--
   ---------------------------------------- 0.2/15.5 MB 3.1 MB/s eta 0:00:05
   - -------------------------------------- 0.5/15.5 MB 5.6 MB/s eta 0:00:03
   - -------------------------------------- 0.7/15.5 MB 5.2 MB/s eta 0:00:03
   -- ------------------------------------- 1.1/15.5 MB 6.2 MB/s eta 0:00:03
   --- ------------------------------------ 1.4/15.5 MB 6.9 MB/s eta 0:00:03
   ---- ----------------------------------- 1.6/15.5 MB 6.2 MB/s eta 0:00:03
   ---- ----------------------------------- 1.7/15.5 MB 5.4 MB/s eta 0:00:03
   ---- ----------------------------------- 1.8/15.5 MB 5.3 MB/s eta 0:00:03
   ----- ---------------------------------- 2.1/15.5 MB 5.2 MB/s eta 0:00:03
   ----- ---------------------------------- 2.3/15.5 MB 5.4 MB/s eta 0:00:03
   ----- ---------------------------------- 2.3/15.5 MB 5.4 MB/s eta 0:00:03
   ----- ---------------------------------- 2.3/15.5 MB 5.4 MB/s eta 0:00:03
   ------- -------------------------------- 3.0/15.5 MB 4.9 MB/s eta 0:00:03
   ------- -------------------------------- 3.1/15.5 MB 4.8 MB/s eta 0:00:03
   -------- ------------------------------- 3.5/15.5 MB 4.9 MB/s eta 0:00:03
   --------- ------------------------------ 3.7/15.5 MB 5.2 MB/s eta 0:00:03
   ---------- ----------------------------- 3.9/15.5 MB 5.0 MB/s eta 0:00:03
   ---------- ----------------------------- 4.2/15.5 MB 5.1 MB/s eta 0:00:03
   ------------ --------------------------- 4.8/15.5 MB 5.3 MB/s eta 0:00:03
   ------------ --------------------------- 4.8/15.5 MB 5.2 MB/s eta 0:00:03
   ------------ --------------------------- 5.0/15.5 MB 5.1 MB/s eta 0:00:03
   ------------- -------------------------- 5.4/15.5 MB 5.2 MB/s eta 0:00:02
   ------------- -------------------------- 5.4/15.5 MB 5.1 MB/s eta 0:00:02
   -------------- ------------------------- 5.8/15.5 MB 5.1 MB/s eta 0:00:02
   -------------- ------------------------- 5.8/15.5 MB 5.1 MB/s eta 0:00:02
   -------------- ------------------------- 5.8/15.5 MB 4.8 MB/s eta 0:00:03
   --------------- ------------------------ 6.0/15.5 MB 4.8 MB/s eta 0:00:02
   ---------------- ----------------------- 6.3/15.5 MB 4.8 MB/s eta 0:00:02
   ---------------- ----------------------- 6.6/15.5 MB 4.9 MB/s eta 0:00:02
   ----------------- ---------------------- 6.8/15.5 MB 4.9 MB/s eta 0:00:02
   ------------------ --------------------- 7.2/15.5 MB 5.0 MB/s eta 0:00:02
   ------------------- -------------------- 7.4/15.5 MB 5.0 MB/s eta 0:00:02
   ------------------- -------------------- 7.4/15.5 MB 4.8 MB/s eta 0:00:02
   ------------------- -------------------- 7.6/15.5 MB 4.8 MB/s eta 0:00:02
   -------------------- ------------------- 7.8/15.5 MB 4.8 MB/s eta 0:00:02
   -------------------- ------------------- 7.9/15.5 MB 4.7 MB/s eta 0:00:02
   -------------------- ------------------- 8.1/15.5 MB 4.6 MB/s eta 0:00:02
   --------------------- ------------------ 8.3/15.5 MB 4.7 MB/s eta 0:00:02
   --------------------- ------------------ 8.5/15.5 MB 4.7 MB/s eta 0:00:02
   ---------------------- ----------------- 8.7/15.5 MB 4.7 MB/s eta 0:00:02
   ---------------------- ----------------- 8.7/15.5 MB 4.7 MB/s eta 0:00:02
   ---------------------- ----------------- 8.7/15.5 MB 4.7 MB/s eta 0:00:02
   ---------------------- ----------------- 8.7/15.5 MB 4.7 MB/s eta 0:00:02
   ------------------------ --------------- 9.6/15.5 MB 4.7 MB/s eta 0:00:02
   ------------------------- -------------- 9.8/15.5 MB 4.6 MB/s eta 0:00:02
   ------------------------- -------------- 9.8/15.5 MB 4.6 MB/s eta 0:00:02
   ------------------------- -------------- 9.8/15.5 MB 4.5 MB/s eta 0:00:02
   --------------------------- ------------ 10.6/15.5 MB 4.7 MB/s eta 0:00:02
   --------------------------- ------------ 10.7/15.5 MB 4.8 MB/s eta 0:00:01
   --------------------------- ------------ 10.7/15.5 MB 4.8 MB/s eta 0:00:01
   ---------------------------- ----------- 11.0/15.5 MB 4.7 MB/s eta 0:00:01
   ----------------------------- ---------- 11.4/15.5 MB 4.6 MB/s eta 0:00:01
   ----------------------------- ---------- 11.5/15.5 MB 4.5 MB/s eta 0:00:01
   ----------------------------- ---------- 11.6/15.5 MB 4.5 MB/s eta 0:00:01
   ------------------------------ --------- 11.8/15.5 MB 4.5 MB/s eta 0:00:01
   ------------------------------ --------- 11.9/15.5 MB 4.5 MB/s eta 0:00:01
   ------------------------------- -------- 12.1/15.5 MB 4.5 MB/s eta 0:00:01
   ------------------------------- -------- 12.2/15.5 MB 4.4 MB/s eta 0:00:01
   ------------------------------- -------- 12.3/15.5 MB 4.4 MB/s eta 0:00:01
   -------------------------------- ------- 12.6/15.5 MB 4.6 MB/s eta 0:00:01
   -------------------------------- ------- 12.6/15.5 MB 4.5 MB/s eta 0:00:01
   -------------------------------- ------- 12.8/15.5 MB 4.5 MB/s eta 0:00:01
   --------------------------------- ------ 13.0/15.5 MB 4.3 MB/s eta 0:00:01
   ---------------------------------- ----- 13.2/15.5 MB 4.3 MB/s eta 0:00:01
   ---------------------------------- ----- 13.4/15.5 MB 4.3 MB/s eta 0:00:01
   ---------------------------------- ----- 13.4/15.5 MB 4.3 MB/s eta 0:00:01
   ---------------------------------- ----- 13.5/15.5 MB 4.1 MB/s eta 0:00:01
   ----------------------------------- ---- 13.8/15.5 MB 4.1 MB/s eta 0:00:01
   ----------------------------------- ---- 13.8/15.5 MB 4.1 MB/s eta 0:00:01
   ------------------------------------ --- 14.0/15.5 MB 4.0 MB/s eta 0:00:01
   ------------------------------------ --- 14.1/15.5 MB 4.1 MB/s eta 0:00:01
   ------------------------------------ --- 14.2/15.5 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 14.5/15.5 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 14.5/15.5 MB 3.9 MB/s eta 0:00:01
   -------------------------------------- - 14.8/15.5 MB 3.9 MB/s eta 0:00:01
   -------------------------------------- - 14.9/15.5 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  15.1/15.5 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.5 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 15.5/15.5 MB 3.6 MB/s eta 0:00:00
Installing collected packages: numpy, matplotlib
  Attempting uninstall: numpy
    Found existing installation: numpy 2.1.1
    Uninstalling numpy-2.1.1:
      Successfully uninstalled numpy-2.1.1
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.8.4
    Uninstalling matplotlib-3.8.4:
      Successfully uninstalled matplotlib-3.8.4
Successfully installed matplotlib-3.9.2 numpy-1.26.4
Note: you may need to restart the kernel to use updated packages.

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\vpshe\anaconda3\Lib\site-packages\~umpy.libs'.
  You can safely remove it manually.
  WARNING: Failed to remove contents in a temporary directory 'C:\Users\vpshe\anaconda3\Lib\site-packages\~umpy'.
  You can safely remove it manually.

In [1]:
import pandas as pd

In [5]:
pd.__version__

'2.2.2'

In [7]:
import psycopg2

In [22]:
pd.read_excel?

Signature:
pd.read_excel(
    io,
    sheet_name: 'str | int | list[IntStrT] | None' = 0,
    *,
    header: 'int | Sequence[int] | None' = 0,
    names: 'SequenceNotStr[Hashable] | range | None' = None,
    index_col: 'int | str | Sequence[int] | None' = None,
    usecols: 'int | str | Sequence[int] | Sequence[str] | Callable[[str], bool] | None' = None,
    dtype: 'DtypeArg | None' = None,
    engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb', 'calamine'] | None" = None,
    converters: 'dict[str, Callable] | dict[int, Callable] | None' = None,
    true_values: 'Iterable[Hashable] | None' = None,
    false_values: 'Iterable[Hashable] | None' = None,
    skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None,
    nrows: 'int | None' = None,
    na_values=None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool' = False,
    parse_dates: 'list | dict | bool' = False,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'dict[Hashable, str] | str | None' = None,
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    comment: 'str | None' = None,
    skipfooter: 'int' = 0,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
    engine_kwargs: 'dict | None' = None,
) -> 'DataFrame | dict[IntStrT, DataFrame]'
Docstring:
Read an Excel file into a ``pandas`` ``DataFrame``.

Supports `xls`, `xlsx`, `xlsm`, `xlsb`, `odf`, `ods` and `odt` file extensions
read from a local filesystem or URL. Supports an option to read
a single sheet or a list of sheets.

Parameters
----------
io : str, bytes, ExcelFile, xlrd.Book, path object, or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, and file. For file URLs, a host is
    expected. A local file could be: ``file://localhost/path/to/table.xlsx``.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method,
    such as a file handle (e.g. via builtin ``open`` function)
    or ``StringIO``.

    .. deprecated:: 2.1.0
        Passing byte strings is deprecated. To read from a
        byte string, wrap it in a ``BytesIO`` object.
sheet_name : str, int, list, or None, default 0
    Strings are used for sheet names. Integers are used in zero-indexed
    sheet positions (chart sheets do not count as a sheet position).
    Lists of strings/integers are used to request multiple sheets.
    Specify ``None`` to get all worksheets.

    Available cases:

    * Defaults to ``0``: 1st sheet as a `DataFrame`
    * ``1``: 2nd sheet as a `DataFrame`
    * ``"Sheet1"``: Load sheet with name "Sheet1"
    * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
      as a dict of `DataFrame`
    * ``None``: All worksheets.

header : int, list of int, default 0
    Row (0-indexed) to use for the column labels of the parsed
    DataFrame. If a list of integers is passed those row positions will
    be combined into a ``MultiIndex``. Use None if there is no header.
names : array-like, default None
    List of column names to use. If file contains no header row,
    then you should explicitly pass header=None.
index_col : int, str, list of int, default None
    Column (0-indexed) to use as the row labels of the DataFrame.
    Pass None if there is no such column.  If a list is passed,
    those columns will be combined into a ``MultiIndex``.  If a
    subset of data is selected with ``usecols``, index_col
    is based on the subset.

    Missing values will be forward filled to allow roundtripping with
    ``to_excel`` for ``merged_cells=True``. To avoid forward filling the
    missing values use ``set_index`` after reading the data instead of
    ``index_col``.
usecols : str, list-like, or callable, default None
    * If None, then parse all columns.
    * If str, then indicates comma separated list of Excel column letters
      and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
      both sides.
    * If list of int, then indicates list of column numbers to be parsed
      (0-indexed).
    * If list of string, then indicates list of column names to be parsed.
    * If callable, then evaluate each column name against it and parse the
      column if the callable returns ``True``.

    Returns a subset of the columns according to behavior above.
dtype : Type name or dict of column -> type, default None
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
    Use ``object`` to preserve data as stored in Excel and not interpret dtype,
    which will necessarily result in ``object`` dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
    If you use ``None``, it will infer the dtype of each column based on the data.
engine : {'openpyxl', 'calamine', 'odf', 'pyxlsb', 'xlrd'}, default None
    If io is not a buffer or path, this must be set to identify io.
    Engine compatibility :

    - ``openpyxl`` supports newer Excel file formats.
    - ``calamine`` supports Excel (.xls, .xlsx, .xlsm, .xlsb)
      and OpenDocument (.ods) file formats.
    - ``odf`` supports OpenDocument file formats (.odf, .ods, .odt).
    - ``pyxlsb`` supports Binary Excel files.
    - ``xlrd`` supports old-style Excel files (.xls).

    When ``engine=None``, the following logic will be used to determine the engine:

    - If ``path_or_buffer`` is an OpenDocument format (.odf, .ods, .odt),
      then `odf <https://pypi.org/project/odfpy/>`_ will be used.
    - Otherwise if ``path_or_buffer`` is an xls format, ``xlrd`` will be used.
    - Otherwise if ``path_or_buffer`` is in xlsb format, ``pyxlsb`` will be used.
    - Otherwise ``openpyxl`` will be used.
converters : dict, default None
    Dict of functions for converting values in certain columns. Keys can
    either be integers or column labels, values are functions that take one
    input argument, the Excel cell content, and return the transformed
    content.
true_values : list, default None
    Values to consider as True.
false_values : list, default None
    Values to consider as False.
skiprows : list-like, int, or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int) at the
    start of the file. If callable, the callable function will be evaluated
    against the row indices, returning True if the row should be skipped and
    False otherwise. An example of a valid callable argument would be ``lambda
    x: x in [0, 2]``.
nrows : int, default None
    Number of rows to parse.
na_values : scalar, str, list-like, or dict, default None
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values. By default the following values are interpreted
    as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'None',
    'n/a', 'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is True, and ``na_values`` are specified,
      ``na_values`` is appended to the default NaN values used for parsing.
    * If ``keep_default_na`` is True, and ``na_values`` are not specified, only
      the default NaN values are used for parsing.
    * If ``keep_default_na`` is False, and ``na_values`` are specified, only
      the NaN values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is False, and ``na_values`` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
parse_dates : bool, list-like, or dict, default False
    The behavior is as follows:

    * ``bool``. If True -> try parsing the index.
    * ``list`` of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * ``dict``, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index contains an unparsable date, the entire column or
    index will be returned unaltered as an object data type. If you don`t want to
    parse some cells as date just change their type in Excel to "Text".
    For non-standard datetime parsing, use ``pd.to_datetime`` after ``pd.read_excel``.

    Note: A fast-path exists for iso8601-formatted dates.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`to_datetime` as-needed.
date_format : str or dict of column -> format, default ``None``
   If used in conjunction with ``parse_dates``, will parse dates according to this
   format. For anything more complex,
   please read in as ``object`` and then apply :func:`to_datetime` as-needed.

   .. versionadded:: 2.0.0
thousands : str, default None
    Thousands separator for parsing string columns to numeric.  Note that
    this parameter is only necessary for columns stored as TEXT in Excel,
    any numeric columns will automatically be parsed, regardless of display
    format.
decimal : str, default '.'
    Character to recognize as decimal point for parsing string columns to numeric.
    Note that this parameter is only necessary for columns stored as TEXT in Excel,
    any numeric columns will automatically be parsed, regardless of display
    format.(e.g. use ',' for European data).

    .. versionadded:: 1.4.0

comment : str, default None
    Comments out remainder of line. Pass a character or characters to this
    argument to indicate comments in the input file. Any data between the
    comment string and the end of the current line is ignored.
skipfooter : int, default 0
    Rows at the end to skip (0-indexed).
storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib.request.Request`` as header options. For other
    URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
    forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
    details, and for more examples on storage options refer `here
    <https://pandas.pydata.org/docs/user_guide/io.html?
    highlight=storage_options#reading-writing-remote-files>`_.

dtype_backend : {'numpy_nullable', 'pyarrow'}, default 'numpy_nullable'
    Back-end data type applied to the resultant :class:`DataFrame`
    (still experimental). Behaviour is as follows:

    * ``"numpy_nullable"``: returns nullable-dtype-backed :class:`DataFrame`
      (default).
    * ``"pyarrow"``: returns pyarrow-backed nullable :class:`ArrowDtype`
      DataFrame.

    .. versionadded:: 2.0

engine_kwargs : dict, optional
    Arbitrary keyword arguments passed to excel engine.

Returns
-------
DataFrame or dict of DataFrames
    DataFrame from the passed in Excel file. See notes in sheet_name
    argument for more information on when a dict of DataFrames is returned.

See Also
--------
DataFrame.to_excel : Write DataFrame to an Excel file.
DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Notes
-----
For specific information on the methods used for each Excel engine, refer to the pandas
:ref:`user guide <io.excel_reader>`

Examples
--------
The file can be read using the file name as string or an open file object:

>>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
       Name  Value
0   string1      1
1   string2      2
2  #Comment      3

>>> pd.read_excel(open('tmp.xlsx', 'rb'),
...               sheet_name='Sheet3')  # doctest: +SKIP
   Unnamed: 0      Name  Value
0           0   string1      1
1           1   string2      2
2           2  #Comment      3

Index and header can be specified via the `index_col` and `header` arguments

>>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
     0         1      2
0  NaN      Name  Value
1  0.0   string1      1
2  1.0   string2      2
3  2.0  #Comment      3

Column types are inferred but can be explicitly specified

>>> pd.read_excel('tmp.xlsx', index_col=0,
...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
       Name  Value
0   string1    1.0
1   string2    2.0
2  #Comment    3.0

True, False, and NA values, and thousands separators have defaults,
but can be explicitly specified, too. Supply the values you would like
as strings or lists of strings!

>>> pd.read_excel('tmp.xlsx', index_col=0,
...               na_values=['string1', 'string2'])  # doctest: +SKIP
       Name  Value
0       NaN      1
1       NaN      2
2  #Comment      3

Comment lines in the excel input file can be skipped using the
``comment`` kwarg.

>>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
      Name  Value
0  string1    1.0
1  string2    2.0
2     None    NaN
File:      c:\users\vpshe\anaconda3\lib\site-packages\pandas\io\excel\_base.py
Type:      function

### импортируем dataframe из SQL

In [28]:
engine = psycopg2.connect("dbname='dvdrental' user='postgres' host='localhost' port='5432' password='1357'")

In [63]:
df = pd.read_sql('select * from film', con=engine)

C:\Users\vpshe\AppData\Local\Temp\ipykernel_12108\453622561.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select * from film', con=engine)

In [106]:
df.head(15)

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,last_update,special_features,fulltext
0,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,2013-05-26 14:50:58.951,[Trailers],'chamber':1 'fate':4 'husband':11 'italian':2 ...
1,384,Grosse Wonderful,A Epic Drama of a Cat And a Explorer who must ...,2006,1,5,4.99,49,19.99,R,2013-05-26 14:50:58.951,[Behind the Scenes],'australia':18 'cat':8 'drama':5 'epic':4 'exp...
2,8,Airport Pollock,A Epic Tale of a Moose And a Girl who must Con...,2006,1,6,4.99,54,15.99,R,2013-05-26 14:50:58.951,[Trailers],'airport':1 'ancient':18 'confront':14 'epic':...
3,98,Bright Encounters,A Fateful Yarn of a Lumberjack And a Feminist ...,2006,1,4,4.99,73,12.99,PG-13,2013-05-26 14:50:58.951,[Trailers],'boat':20 'bright':1 'conquer':14 'encount':2 ...
4,1,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,2013-05-26 14:50:58.951,"[Deleted Scenes, Behind the Scenes]",'academi':1 'battl':15 'canadian':20 'dinosaur...
5,2,Ace Goldfinger,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,2013-05-26 14:50:58.951,"[Trailers, Deleted Scenes]",'ace':1 'administr':9 'ancient':19 'astound':4...
6,3,Adaptation Holes,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,50,18.99,NC-17,2013-05-26 14:50:58.951,"[Trailers, Deleted Scenes]",'adapt':1 'astound':4 'baloon':19 'car':11 'fa...
7,4,Affair Prejudice,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,5,2.99,117,26.99,G,2013-05-26 14:50:58.951,"[Commentaries, Behind the Scenes]",'affair':1 'chase':14 'documentari':5 'fanci':...
8,5,African Egg,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,6,2.99,130,22.99,G,2013-05-26 14:50:58.951,[Deleted Scenes],'african':1 'chef':11 'dentist':14 'documentar...
9,6,Agent Truman,A Intrepid Panorama of a Robot And a Boy who m...,2006,1,3,2.99,169,17.99,PG,2013-05-26 14:50:58.951,[Deleted Scenes],'agent':1 'ancient':19 'boy':11 'china':20 'es...
10,7,Airplane Sierra,A Touching Saga of a Hunter And a Butler who m...,2006,1,6,4.99,62,28.99,PG-13,2013-05-26 14:50:58.951,"[Trailers, Deleted Scenes]","'airplan':1 'boat':20 'butler':11,16 'discov':..."
11,9,Alabama Devil,A Thoughtful Panorama of a Database Administra...,2006,1,3,2.99,114,21.99,PG-13,2013-05-26 14:50:58.951,"[Trailers, Deleted Scenes]",'administr':9 'alabama':1 'boat':23 'databas':...
12,10,Aladdin Calendar,A Action-Packed Tale of a Man And a Lumberjack...,2006,1,6,4.99,63,24.99,NC-17,2013-05-26 14:50:58.951,"[Trailers, Deleted Scenes]",'action':5 'action-pack':4 'aladdin':1 'ancien...
13,11,Alamo Videotape,A Boring Epistle of a Butler And a Cat who mus...,2006,1,6,0.99,126,16.99,G,2013-05-26 14:50:58.951,"[Commentaries, Behind the Scenes]",'alamo':1 'bore':4 'butler':8 'cat':11 'chef':...
14,12,Alaska Phantom,A Fanciful Saga of a Hunter And a Pastry Chef ...,2006,1,6,0.99,136,22.99,PG,2013-05-26 14:50:58.951,"[Commentaries, Deleted Scenes]",'alaska':1 'australia':19 'boy':17 'chef':12 '...

## Непосредственно ДЗ: (я немного отстал по demo_medium поэтому использовал базу dvdrental. Таблицу взяз film т.к. там есть адекватные числовые переменные)

#### Количество строк:

In [78]:
df.count()

film_id             1000
title               1000
description         1000
release_year        1000
language_id         1000
rental_duration     1000
rental_rate         1000
length              1000
replacement_cost    1000
rating              1000
last_update         1000
special_features    1000
fulltext            1000
dtype: int64

#### Тип данных по столбцам:

In [71]:
df.dtypes

film_id                      int64
title                       object
description                 object
release_year                 int64
language_id                  int64
rental_duration              int64
rental_rate                float64
length                       int64
replacement_cost           float64
rating                      object
last_update         datetime64[ns]
special_features            object
fulltext                    object
dtype: object

#### Кол-во уникальных значение по string

In [88]:
df['rating'].unique()

array(['NC-17', 'R', 'PG-13', 'PG', 'G'], dtype=object)

In [90]:
df['rating'].value_counts()

rating
PG-13    223
NC-17    210
R        195
PG       194
G        178
Name: count, dtype: int64

In [101]:
df['special_features'].unique() 
# не пойму почему ошибка хотя команда "df['special_features'].value_counts()" сработала (см ниже). 
# Предполагаю что из-за квадратных скобок в значениях по столбцу из-за которых эти значения pyton не смог слепить в массив.
# Подскажите пожалуйста как быть в таких случаях?

TypeError: unhashable type: 'list'

In [92]:
df['special_features'].value_counts()

special_features
[Trailers, Commentaries, Behind the Scenes]                    79
[Trailers]                                                     72
[Trailers, Commentaries]                                       72
[Trailers, Behind the Scenes]                                  72
[Deleted Scenes, Behind the Scenes]                            71
[Behind the Scenes]                                            70
[Commentaries, Behind the Scenes]                              70
[Trailers, Deleted Scenes]                                     66
[Commentaries, Deleted Scenes, Behind the Scenes]              66
[Commentaries, Deleted Scenes]                                 65
[Trailers, Commentaries, Deleted Scenes]                       64
[Commentaries]                                                 62
[Deleted Scenes]                                               61
[Trailers, Commentaries, Deleted Scenes, Behind the Scenes]    61
[Trailers, Deleted Scenes, Behind the Scenes]                  49
Name: count, dtype: int64

#### Частота по string

In [99]:
df['rating'].value_counts()

rating
PG-13    223
NC-17    210
R        195
PG       194
G        178
Name: count, dtype: int64

#### min, mean, med, max по int

In [73]:
df.describe()

,film_id,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,last_update
count,1000.000000,1000.0,1000.0,1000.000000,1000.000000,1000.000000,1000.000000,1000
mean,500.500000,2006.0,1.0,4.985000,2.980000,115.272000,19.984000,2013-05-26 14:50:58.951000320
min,1.000000,2006.0,1.0,3.000000,0.990000,46.000000,9.990000,2013-05-26 14:50:58.951000
25%,250.750000,2006.0,1.0,4.000000,0.990000,80.000000,14.990000,2013-05-26 14:50:58.951000064
50%,500.500000,2006.0,1.0,5.000000,2.990000,114.000000,19.990000,2013-05-26 14:50:58.951000064
75%,750.250000,2006.0,1.0,6.000000,4.990000,149.250000,24.990000,2013-05-26 14:50:58.951000064
max,1000.000000,2006.0,1.0,7.000000,4.990000,185.000000,29.990000,2013-05-26 14:50:58.951000
std,288.819436,0.0,0.0,1.411654,1.646393,40.426332,6.050833,NaN

In [115]:
df.min()

film_id                                                             1
title                                                Academy Dinosaur
description         A Action-Packed Character Study of a Astronaut...
release_year                                                     2006
language_id                                                         1
rental_duration                                                     3
rental_rate                                                      0.99
length                                                             46
replacement_cost                                                 9.99
rating                                                              G
last_update                                2013-05-26 14:50:58.951000
special_features                                  [Behind the Scenes]
fulltext            'abandon':19 'amaz':4 'amus':20 'car':8 'docum...
dtype: object

In [121]:
df.max()

film_id                                                          1000
title                                                       Zorro Ark
description         A Unbelieveable Yarn of a Student And a Databa...
release_year                                                     2006
language_id                                                         1
rental_duration                                                     7
rental_rate                                                      4.99
length                                                            185
replacement_cost                                                29.99
rating                                                              R
last_update                                2013-05-26 14:50:58.951000
special_features        [Trailers, Deleted Scenes, Behind the Scenes]
fulltext            'intrepid':4 'kill':15 'malkovich':1 'must':14...
dtype: object

In [126]:
df?

Type:        DataFrame
String form:
film_id              title  \
           0        133    Chamber Italian
           1        384   Grosse Wonde <...> scov':14 ...
           999  'ark':2 'boy':12,17 'intrepid':4 'mad':8 'mona...

           [1000 rows x 13 columns]
Length:      1000
File:        c:\users\vpshe\anaconda3\lib\site-packages\pandas\core\frame.py
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, dataclass or list-like objects. If
    data is a dict, column order follows insertion-order. If a dict contains Series
    which have an index defined, it is aligned by its index. This alignment also
    occurs if data is a Series or a DataFrame itself. Alignment is done on
    Series/DataFrame inputs.

    If data is a list of dicts, column order follows insertion-order.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.
    For dict data, the default of None behaves like ``copy=True``.  For DataFrame
    or 2d ndarray input, the default of None behaves like ``copy=False``.
    If data is a dict containing one or more Series (possibly of different dtypes),
    ``copy=False`` will ensure that these inputs are not copied.

    .. versionchanged:: 1.3.0

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Notes
-----
Please reference the :ref:`User Guide <basics.dataframe>` for more information.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from a dictionary including Series:

>>> d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
>>> pd.DataFrame(data=d, index=[0, 1, 2, 3])
   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Constructing DataFrame from a numpy ndarray that has labeled columns:

>>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
>>> df3 = pd.DataFrame(data, columns=['c', 'a'])
...
>>> df3
   c  a
0  3  1
1  6  4
2  9  7

Constructing DataFrame from dataclass:

>>> from dataclasses import make_dataclass
>>> Point = make_dataclass("Point", [("x", int), ("y", int)])
>>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
   x  y
0  0  0
1  0  3
2  2  3

Constructing DataFrame from Series/DataFrame:

>>> ser = pd.Series([1, 2, 3], index=["a", "b", "c"])
>>> df = pd.DataFrame(data=ser, index=["a", "c"])
>>> df
   0
a  1
c  3

>>> df1 = pd.DataFrame([1, 2, 3], index=["a", "b", "c"], columns=["x"])
>>> df2 = pd.DataFrame(data=df1, index=["a", "c"])
>>> df2
   x
a  1
c  3