### Импорт всего что нужно (ДЗ со строки 78)

In [17]:
import numpy as np

In [19]:
np.__version__

'2.1.1'

In [33]:
pip install matplotlib --upgrade

Requirement already satisfied: matplotlib in c:\users\vpshe\anaconda3\lib\site-packages (3.8.4)
Collecting matplotlib
  Downloading matplotlib-3.9.2-cp312-cp312-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\vpshe\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\vpshe\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\vpshe\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\vpshe\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.23 in c:\users\vpshe\anaconda3\lib\site-packages (from matplotlib) (2.1.1)
Requirement already satisfied: packaging>=20.0 in c:\users\vpshe\anaconda3\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\vpshe\anaconda3\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\vpshe\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\vpshe\anaconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Collecting numpy>=1.23 (from matplotlib)
  Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     ------------ ------------------------- 20.5/61.0 kB 330.3 kB/s eta 0:00:01
     ------------------------- ------------ 41.0/61.0 kB 393.8 kB/s eta 0:00:01
     -------------------------------------- 61.0/61.0 kB 466.1 kB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\vpshe\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.9.2-cp312-cp312-win_amd64.whl (7.8 MB)
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   ---------------------------------------- 0.1/7.8 MB ? eta -:--:--
    --------------------------------------- 0.1/7.8 MB 2.2 MB/s eta 0:00:04
   - -------------------------------------- 0.2/7.8 MB 2.3 MB/s eta 0:00:04
   -- ------------------------------------- 0.4/7.8 MB 3.1 MB/s eta 0:00:03
   --- ------------------------------------ 0.7/7.8 MB 3.2 MB/s eta 0:00:03
   --- ------------------------------------ 0.8/7.8 MB 3.2 MB/s eta 0:00:03
   ------ --------------------------------- 1.2/7.8 MB 4.1 MB/s eta 0:00:02
   ------ --------------------------------- 1.3/7.8 MB 3.9 MB/s eta 0:00:02
   -------- ------------------------------- 1.6/7.8 MB 4.3 MB/s eta 0:00:02
   --------- ------------------------------ 1.8/7.8 MB 4.1 MB/s eta 0:00:02
   ---------- ----------------------------- 2.1/7.8 MB 4.4 MB/s eta 0:00:02
   ------------ --------------------------- 2.4/7.8 MB 4.5 MB/s eta 0:00:02
   -------------- ------------------------- 2.8/7.8 MB 5.0 MB/s eta 0:00:01
   --------------- ------------------------ 3.1/7.8 MB 5.1 MB/s eta 0:00:01
   --------------- ------------------------ 3.1/7.8 MB 5.1 MB/s eta 0:00:01
   --------------- ------------------------ 3.1/7.8 MB 4.6 MB/s eta 0:00:02
   ----------------- ---------------------- 3.5/7.8 MB 4.6 MB/s eta 0:00:01
   -------------------- ------------------- 4.1/7.8 MB 5.1 MB/s eta 0:00:01
   ---------------------- ----------------- 4.4/7.8 MB 5.2 MB/s eta 0:00:01
   ----------------------- ---------------- 4.7/7.8 MB 5.2 MB/s eta 0:00:01
   -------------------------- ------------- 5.3/7.8 MB 5.6 MB/s eta 0:00:01
   ---------------------------- ----------- 5.5/7.8 MB 5.6 MB/s eta 0:00:01
   ----------------------------- ---------- 5.8/7.8 MB 5.7 MB/s eta 0:00:01
   ------------------------------- -------- 6.2/7.8 MB 5.8 MB/s eta 0:00:01
   ------------------------------- -------- 6.2/7.8 MB 5.8 MB/s eta 0:00:01
   ------------------------------- -------- 6.2/7.8 MB 5.8 MB/s eta 0:00:01
   ------------------------------------ --- 7.1/7.8 MB 5.9 MB/s eta 0:00:01
   ---------------------------------------  7.8/7.8 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------- 7.8/7.8 MB 6.0 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl (15.5 MB)
   ---------------------------------------- 0.0/15.5 MB ? eta -:--:--
   ---------------------------------------- 0.2/15.5 MB 3.1 MB/s eta 0:00:05
   - -------------------------------------- 0.5/15.5 MB 5.6 MB/s eta 0:00:03
   - -------------------------------------- 0.7/15.5 MB 5.2 MB/s eta 0:00:03
   -- ------------------------------------- 1.1/15.5 MB 6.2 MB/s eta 0:00:03
   --- ------------------------------------ 1.4/15.5 MB 6.9 MB/s eta 0:00:03
   ---- ----------------------------------- 1.6/15.5 MB 6.2 MB/s eta 0:00:03
   ---- ----------------------------------- 1.7/15.5 MB 5.4 MB/s eta 0:00:03
   ---- ----------------------------------- 1.8/15.5 MB 5.3 MB/s eta 0:00:03
   ----- ---------------------------------- 2.1/15.5 MB 5.2 MB/s eta 0:00:03
   ----- ---------------------------------- 2.3/15.5 MB 5.4 MB/s eta 0:00:03
   ----- ---------------------------------- 2.3/15.5 MB 5.4 MB/s eta 0:00:03
   ----- ---------------------------------- 2.3/15.5 MB 5.4 MB/s eta 0:00:03
   ------- -------------------------------- 3.0/15.5 MB 4.9 MB/s eta 0:00:03
   ------- -------------------------------- 3.1/15.5 MB 4.8 MB/s eta 0:00:03
   -------- ------------------------------- 3.5/15.5 MB 4.9 MB/s eta 0:00:03
   --------- ------------------------------ 3.7/15.5 MB 5.2 MB/s eta 0:00:03
   ---------- ----------------------------- 3.9/15.5 MB 5.0 MB/s eta 0:00:03
   ---------- ----------------------------- 4.2/15.5 MB 5.1 MB/s eta 0:00:03
   ------------ --------------------------- 4.8/15.5 MB 5.3 MB/s eta 0:00:03
   ------------ --------------------------- 4.8/15.5 MB 5.2 MB/s eta 0:00:03
   ------------ --------------------------- 5.0/15.5 MB 5.1 MB/s eta 0:00:03
   ------------- -------------------------- 5.4/15.5 MB 5.2 MB/s eta 0:00:02
   ------------- -------------------------- 5.4/15.5 MB 5.1 MB/s eta 0:00:02
   -------------- ------------------------- 5.8/15.5 MB 5.1 MB/s eta 0:00:02
   -------------- ------------------------- 5.8/15.5 MB 5.1 MB/s eta 0:00:02
   -------------- ------------------------- 5.8/15.5 MB 4.8 MB/s eta 0:00:03
   --------------- ------------------------ 6.0/15.5 MB 4.8 MB/s eta 0:00:02
   ---------------- ----------------------- 6.3/15.5 MB 4.8 MB/s eta 0:00:02
   ---------------- ----------------------- 6.6/15.5 MB 4.9 MB/s eta 0:00:02
   ----------------- ---------------------- 6.8/15.5 MB 4.9 MB/s eta 0:00:02
   ------------------ --------------------- 7.2/15.5 MB 5.0 MB/s eta 0:00:02
   ------------------- -------------------- 7.4/15.5 MB 5.0 MB/s eta 0:00:02
   ------------------- -------------------- 7.4/15.5 MB 4.8 MB/s eta 0:00:02
   ------------------- -------------------- 7.6/15.5 MB 4.8 MB/s eta 0:00:02
   -------------------- ------------------- 7.8/15.5 MB 4.8 MB/s eta 0:00:02
   -------------------- ------------------- 7.9/15.5 MB 4.7 MB/s eta 0:00:02
   -------------------- ------------------- 8.1/15.5 MB 4.6 MB/s eta 0:00:02
   --------------------- ------------------ 8.3/15.5 MB 4.7 MB/s eta 0:00:02
   --------------------- ------------------ 8.5/15.5 MB 4.7 MB/s eta 0:00:02
   ---------------------- ----------------- 8.7/15.5 MB 4.7 MB/s eta 0:00:02
   ---------------------- ----------------- 8.7/15.5 MB 4.7 MB/s eta 0:00:02
   ---------------------- ----------------- 8.7/15.5 MB 4.7 MB/s eta 0:00:02
   ---------------------- ----------------- 8.7/15.5 MB 4.7 MB/s eta 0:00:02
   ------------------------ --------------- 9.6/15.5 MB 4.7 MB/s eta 0:00:02
   ------------------------- -------------- 9.8/15.5 MB 4.6 MB/s eta 0:00:02
   ------------------------- -------------- 9.8/15.5 MB 4.6 MB/s eta 0:00:02
   ------------------------- -------------- 9.8/15.5 MB 4.5 MB/s eta 0:00:02
   --------------------------- ------------ 10.6/15.5 MB 4.7 MB/s eta 0:00:02
   --------------------------- ------------ 10.7/15.5 MB 4.8 MB/s eta 0:00:01
   --------------------------- ------------ 10.7/15.5 MB 4.8 MB/s eta 0:00:01
   ---------------------------- ----------- 11.0/15.5 MB 4.7 MB/s eta 0:00:01
   ----------------------------- ---------- 11.4/15.5 MB 4.6 MB/s eta 0:00:01
   ----------------------------- ---------- 11.5/15.5 MB 4.5 MB/s eta 0:00:01
   ----------------------------- ---------- 11.6/15.5 MB 4.5 MB/s eta 0:00:01
   ------------------------------ --------- 11.8/15.5 MB 4.5 MB/s eta 0:00:01
   ------------------------------ --------- 11.9/15.5 MB 4.5 MB/s eta 0:00:01
   ------------------------------- -------- 12.1/15.5 MB 4.5 MB/s eta 0:00:01
   ------------------------------- -------- 12.2/15.5 MB 4.4 MB/s eta 0:00:01
   ------------------------------- -------- 12.3/15.5 MB 4.4 MB/s eta 0:00:01
   -------------------------------- ------- 12.6/15.5 MB 4.6 MB/s eta 0:00:01
   -------------------------------- ------- 12.6/15.5 MB 4.5 MB/s eta 0:00:01
   -------------------------------- ------- 12.8/15.5 MB 4.5 MB/s eta 0:00:01
   --------------------------------- ------ 13.0/15.5 MB 4.3 MB/s eta 0:00:01
   ---------------------------------- ----- 13.2/15.5 MB 4.3 MB/s eta 0:00:01
   ---------------------------------- ----- 13.4/15.5 MB 4.3 MB/s eta 0:00:01
   ---------------------------------- ----- 13.4/15.5 MB 4.3 MB/s eta 0:00:01
   ---------------------------------- ----- 13.5/15.5 MB 4.1 MB/s eta 0:00:01
   ----------------------------------- ---- 13.8/15.5 MB 4.1 MB/s eta 0:00:01
   ----------------------------------- ---- 13.8/15.5 MB 4.1 MB/s eta 0:00:01
   ------------------------------------ --- 14.0/15.5 MB 4.0 MB/s eta 0:00:01
   ------------------------------------ --- 14.1/15.5 MB 4.1 MB/s eta 0:00:01
   ------------------------------------ --- 14.2/15.5 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 14.5/15.5 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 14.5/15.5 MB 3.9 MB/s eta 0:00:01
   -------------------------------------- - 14.8/15.5 MB 3.9 MB/s eta 0:00:01
   -------------------------------------- - 14.9/15.5 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  15.1/15.5 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.5 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 15.5/15.5 MB 3.6 MB/s eta 0:00:00
Installing collected packages: numpy, matplotlib
  Attempting uninstall: numpy
    Found existing installation: numpy 2.1.1
    Uninstalling numpy-2.1.1:
      Successfully uninstalled numpy-2.1.1
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.8.4
    Uninstalling matplotlib-3.8.4:
      Successfully uninstalled matplotlib-3.8.4
Successfully installed matplotlib-3.9.2 numpy-1.26.4
Note: you may need to restart the kernel to use updated packages.

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\vpshe\anaconda3\Lib\site-packages\~umpy.libs'.
  You can safely remove it manually.
  WARNING: Failed to remove contents in a temporary directory 'C:\Users\vpshe\anaconda3\Lib\site-packages\~umpy'.
  You can safely remove it manually.

In [1]:
import pandas as pd

In [5]:
pd.__version__

'2.2.2'

In [7]:
import psycopg2

### импортируем dataframe из SQL

In [28]:
engine = psycopg2.connect("dbname='dvdrental' user='postgres' host='localhost' port='5432' password='1357'")

In [63]:
df = pd.read_sql('select * from film', con=engine)

C:\Users\vpshe\AppData\Local\Temp\ipykernel_12108\453622561.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select * from film', con=engine)

In [106]:
df.head(15)

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,last_update,special_features,fulltext
0,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,2013-05-26 14:50:58.951,[Trailers],'chamber':1 'fate':4 'husband':11 'italian':2 ...
1,384,Grosse Wonderful,A Epic Drama of a Cat And a Explorer who must ...,2006,1,5,4.99,49,19.99,R,2013-05-26 14:50:58.951,[Behind the Scenes],'australia':18 'cat':8 'drama':5 'epic':4 'exp...
2,8,Airport Pollock,A Epic Tale of a Moose And a Girl who must Con...,2006,1,6,4.99,54,15.99,R,2013-05-26 14:50:58.951,[Trailers],'airport':1 'ancient':18 'confront':14 'epic':...
3,98,Bright Encounters,A Fateful Yarn of a Lumberjack And a Feminist ...,2006,1,4,4.99,73,12.99,PG-13,2013-05-26 14:50:58.951,[Trailers],'boat':20 'bright':1 'conquer':14 'encount':2 ...
4,1,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,2013-05-26 14:50:58.951,"[Deleted Scenes, Behind the Scenes]",'academi':1 'battl':15 'canadian':20 'dinosaur...
5,2,Ace Goldfinger,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,2013-05-26 14:50:58.951,"[Trailers, Deleted Scenes]",'ace':1 'administr':9 'ancient':19 'astound':4...
6,3,Adaptation Holes,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,50,18.99,NC-17,2013-05-26 14:50:58.951,"[Trailers, Deleted Scenes]",'adapt':1 'astound':4 'baloon':19 'car':11 'fa...
7,4,Affair Prejudice,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,5,2.99,117,26.99,G,2013-05-26 14:50:58.951,"[Commentaries, Behind the Scenes]",'affair':1 'chase':14 'documentari':5 'fanci':...
8,5,African Egg,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,6,2.99,130,22.99,G,2013-05-26 14:50:58.951,[Deleted Scenes],'african':1 'chef':11 'dentist':14 'documentar...
9,6,Agent Truman,A Intrepid Panorama of a Robot And a Boy who m...,2006,1,3,2.99,169,17.99,PG,2013-05-26 14:50:58.951,[Deleted Scenes],'agent':1 'ancient':19 'boy':11 'china':20 'es...
10,7,Airplane Sierra,A Touching Saga of a Hunter And a Butler who m...,2006,1,6,4.99,62,28.99,PG-13,2013-05-26 14:50:58.951,"[Trailers, Deleted Scenes]","'airplan':1 'boat':20 'butler':11,16 'discov':..."
11,9,Alabama Devil,A Thoughtful Panorama of a Database Administra...,2006,1,3,2.99,114,21.99,PG-13,2013-05-26 14:50:58.951,"[Trailers, Deleted Scenes]",'administr':9 'alabama':1 'boat':23 'databas':...
12,10,Aladdin Calendar,A Action-Packed Tale of a Man And a Lumberjack...,2006,1,6,4.99,63,24.99,NC-17,2013-05-26 14:50:58.951,"[Trailers, Deleted Scenes]",'action':5 'action-pack':4 'aladdin':1 'ancien...
13,11,Alamo Videotape,A Boring Epistle of a Butler And a Cat who mus...,2006,1,6,0.99,126,16.99,G,2013-05-26 14:50:58.951,"[Commentaries, Behind the Scenes]",'alamo':1 'bore':4 'butler':8 'cat':11 'chef':...
14,12,Alaska Phantom,A Fanciful Saga of a Hunter And a Pastry Chef ...,2006,1,6,0.99,136,22.99,PG,2013-05-26 14:50:58.951,"[Commentaries, Deleted Scenes]",'alaska':1 'australia':19 'boy':17 'chef':12 '...

## Непосредственно ДЗ: (я немного отстал по demo_medium поэтому использовал базу dvdrental. Таблицу взяз film т.к. там есть адекватные числовые переменные)

#### Количество строк:

In [78]:
df.count()

film_id             1000
title               1000
description         1000
release_year        1000
language_id         1000
rental_duration     1000
rental_rate         1000
length              1000
replacement_cost    1000
rating              1000
last_update         1000
special_features    1000
fulltext            1000
dtype: int64

#### Тип данных по столбцам:

In [71]:
df.dtypes

film_id                      int64
title                       object
description                 object
release_year                 int64
language_id                  int64
rental_duration              int64
rental_rate                float64
length                       int64
replacement_cost           float64
rating                      object
last_update         datetime64[ns]
special_features            object
fulltext                    object
dtype: object

#### Кол-во уникальных значение по string

In [88]:
df['rating'].unique()

array(['NC-17', 'R', 'PG-13', 'PG', 'G'], dtype=object)

In [90]:
df['rating'].value_counts()

rating
PG-13    223
NC-17    210
R        195
PG       194
G        178
Name: count, dtype: int64

In [101]:
df['special_features'].unique() 
# не пойму почему ошибка хотя команда "df['special_features'].value_counts()" сработала (см ниже). 
# Предполагаю что из-за квадратных скобок в значениях по столбцу из-за которых эти значения pyton не смог слепить в массив.
# Подскажите пожалуйста как быть в таких случаях?

TypeError: unhashable type: 'list'

In [92]:
df['special_features'].value_counts()

special_features
[Trailers, Commentaries, Behind the Scenes]                    79
[Trailers]                                                     72
[Trailers, Commentaries]                                       72
[Trailers, Behind the Scenes]                                  72
[Deleted Scenes, Behind the Scenes]                            71
[Behind the Scenes]                                            70
[Commentaries, Behind the Scenes]                              70
[Trailers, Deleted Scenes]                                     66
[Commentaries, Deleted Scenes, Behind the Scenes]              66
[Commentaries, Deleted Scenes]                                 65
[Trailers, Commentaries, Deleted Scenes]                       64
[Commentaries]                                                 62
[Deleted Scenes]                                               61
[Trailers, Commentaries, Deleted Scenes, Behind the Scenes]    61
[Trailers, Deleted Scenes, Behind the Scenes]                  49
Name: count, dtype: int64

#### Частота по string

In [99]:
df['rating'].value_counts()

rating
PG-13    223
NC-17    210
R        195
PG       194
G        178
Name: count, dtype: int64

#### min, mean, med, max по int

In [73]:
df.describe()

,film_id,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,last_update
count,1000.000000,1000.0,1000.0,1000.000000,1000.000000,1000.000000,1000.000000,1000
mean,500.500000,2006.0,1.0,4.985000,2.980000,115.272000,19.984000,2013-05-26 14:50:58.951000320
min,1.000000,2006.0,1.0,3.000000,0.990000,46.000000,9.990000,2013-05-26 14:50:58.951000
25%,250.750000,2006.0,1.0,4.000000,0.990000,80.000000,14.990000,2013-05-26 14:50:58.951000064
50%,500.500000,2006.0,1.0,5.000000,2.990000,114.000000,19.990000,2013-05-26 14:50:58.951000064
75%,750.250000,2006.0,1.0,6.000000,4.990000,149.250000,24.990000,2013-05-26 14:50:58.951000064
max,1000.000000,2006.0,1.0,7.000000,4.990000,185.000000,29.990000,2013-05-26 14:50:58.951000
std,288.819436,0.0,0.0,1.411654,1.646393,40.426332,6.050833,NaN

In [115]:
df.min()

film_id                                                             1
title                                                Academy Dinosaur
description         A Action-Packed Character Study of a Astronaut...
release_year                                                     2006
language_id                                                         1
rental_duration                                                     3
rental_rate                                                      0.99
length                                                             46
replacement_cost                                                 9.99
rating                                                              G
last_update                                2013-05-26 14:50:58.951000
special_features                                  [Behind the Scenes]
fulltext            'abandon':19 'amaz':4 'amus':20 'car':8 'docum...
dtype: object

In [121]:
df.max()

film_id                                                          1000
title                                                       Zorro Ark
description         A Unbelieveable Yarn of a Student And a Databa...
release_year                                                     2006
language_id                                                         1
rental_duration                                                     7
rental_rate                                                      4.99
length                                                            185
replacement_cost                                                29.99
rating                                                              R
last_update                                2013-05-26 14:50:58.951000
special_features        [Trailers, Deleted Scenes, Behind the Scenes]
fulltext            'intrepid':4 'kill':15 'malkovich':1 'must':14...
dtype: object